@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("font/Inter-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("font/Inter-SemiBold.woff2") format("woff2");
}
body {
  background-color: #fff;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "Inter", Helvetica, sans-serif;
  touch-actions: pan-y;
}
#titol {
  font-size: 37px;
  font-weight: 600;
  margin: 0;
}
.seccions {
  font-weight: 600;
  margin: 0;
}
.nota {
  font-size: 12px;
  margin-top: 2px;
  color: #666;
  margin-bottom: 0;
}
.divC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  display: inline-block;
  color: black;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #e1e1e1;
  border: solid 0px #111;
  margin: 0px auto;
  font-size: 16px;
  border-radius: 10px;
  margin-top: 10px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.0) 0 5px 10px;
  outline: none !important;
  transition:  0.15s ease;
  position: relative;
  font-weight: bold;
  margin-bottom: 5px;
}
::placeholder {
  color: #888;
  font-weight: 400;
}
a {
  color: #666;
  text-decoration: none;
  transition: color 0.2s;
}
a:hover {
  color: #222;
}
input:focus {
  box-shadow: rgba(0, 0, 0, 0.05) 0 3px 10px;
  transform: scale(1.01);
}
.app_frame {
  display: none;
}
#ti {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
}
#t {
  display: block;
  border-radius: 20px;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f2f2f2;
  width: 95vw;
  max-width: 1300px;
  margin-top: 50px;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  box-shadow: rgba(0, 0, 0, 0.05) 0 5px 30px;
  transition: height 0.5s ease-in-out;
}
.d {
  display: flex;
}
.d div {
  min-width: calc(50% - 15px);
  margin-top: 18px;
}
.f {
  padding-left: 15px;
}
.g {
  padding-right: 15px;
}
#r {
  transition: 0.5s ease-in-out;
}
#f_v {
  font-size: 14px;
  color: #666;
}
.subtitol {
  margin-top: 2px;
  color: #666;
}
@media only screen and (max-width: 600px) {
  .d {
    display: block;
  }
  .f {
    padding-left: 0;
  }
  .g {
    padding-right: 0;
  }
  #t {
    padding-top: 10px;
    margin-top: 15px;
  }
  #titol {
    font-size: 26px;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: #ddd;
  }
  #t {
    background-color: #191919;
  }
  input {
    background-color: #313131;
    color: #eee;
  }
  ::placeholder {
    color: #888;
  }
  a {
    color: #999;
  }
  a:hover {
    color: #bbb;
  }
  #f_v {
    color: #bbb;
  }
  .nota {
    color: #999;
  }
  .subtitol {
    color: #999;
  }
}
